@import '~antd/dist/antd.css';
.App {
  color: #333;
  border: none;
  border-radius: 6px;
  background: white;
  margin: 2em;
  padding: 0 2em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App > .plus{
  font-size: 30px;
  color:#fff;
  background-color: #19DB7A;
  padding: 8px 22px;
  border-radius: 6px;
  width: 66px;
  margin: 20px 0 20px;
  display: inline-block;
}
.App > .plus:hover{
  cursor: pointer;
  box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.25);
}
.App .todoList{
  margin: 20px 0;
  max-width: 390px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App .todoList li{
  margin-bottom: 10px; 
}
.App .todoList li:hover{
  box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.25);
}
.App > .logo{
  text-align: center;
  padding: 36px 10px;
}
.App > .logo > span{
  font-size: 44px;
  font-weight: 600;
}
.App > .logo > span >.spanStyle{
  font-weight: 300;
  color: #B0A3A7;
}
.App > h2{
  display: inline-block;
}
.App > .SignOutBtn{
  float: right;
}
.App > .ant-layout-footer{
  text-align: center;
}
.App > .ant-layout-footer > button{
  margin: 0 6px;
}
@media (max-width:768px){
  .App{
    min-width: 26.6em;
    margin: 0;
    padding: 0 1em;
  }
  .App .todoList{
    margin: 20px 0 20px;
  }
  .App > .SignOutBtn{
    float: none;
    margin-left: 20px;
  }
  .App .ant-layout-footer{
    height: 69px;
  }
}